PORT=5000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=dental_clinic

# Admin Default Seed Credentials
ADMIN_EMAIL=admin@dentalclinic.com
ADMIN_PASSWORD=Admin@123456
